In [7]:
import numpy as np
import pandas as pd
import itertools
from sklearn.linear_model import LinearRegression; model = LinearRegression()
from sklearn.feature_selection import f_regression
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
df = pd.read_excel("SalesData.xlsx")
df

,TV Ad Spending x1,Radio Ad Spending x2,Newspaper Ad Spending x3,Website Visits x4,Product Reviews x5,Sales y
0,10000,5000,2000,500,400,15000
1,12000,6000,2500,600,450,17000
2,9000,4000,1500,700,300,14000
3,11000,5000,2000,800,350,16000
4,8000,3000,1000,400,200,13000
5,11000,6000,1500,700,350,16500
6,12000,7000,2000,800,400,17500
7,10000,5000,1500,500,300,15000
8,9000,4000,1000,400,200,14000
9,11000,5000,1500,700,350,16000

In [3]:
new_columns = {
    "TV Ad Spending x1":"x1",
    "Radio Ad Spending x2":"x2",
    "Newspaper Ad Spending x3":"x3",
    "Website Visits x4":"x4",
    "Product Reviews x5":"x5",
    "Sales y":"y",
}
df = df.rename(columns=new_columns)
y = df.y
df = df.drop("y", axis=1)

In [4]:
results =  []
for i in range(len(df.columns)):
    for combo in itertools.combinations(df.columns, i+1):
        X = df[list(combo)]
        model.fit(X, y)
        r2 = model.score(X, y)
        adj_r2 = 1 - (1-model.score(X, y))*(len(y)-1)/(len(y)-X.shape[1]-1)
        f,_ = f_regression(X, y)
        
        n = len(y)
        kf = KFold(n_splits=n)
        press_values = []
        for train_index, test_index in kf.split(X):
            X_train, X_test = X.iloc[train_index], X.iloc[test_index]
            y_train, y_test = y.iloc[train_index], y.iloc[test_index]
            model.fit(X_train, y_train)
            y_pred = model.predict(X_test)
            press_values.append(mean_squared_error(y_test, y_pred))
        press = sum(press_values)

        results.append((list(combo), r2, adj_r2, f[0],press))

        results_df = pd.DataFrame(results, columns=[
    "Columns", "r^2", "adjusted_r^2","F","PRESS"
]).sort_values("adjusted_r^2", ascending=False).reset_index(drop=True)

In [5]:
results_df

                 Columns       r^2  adjusted_r^2           F         PRESS
0       [x1, x2, x3, x4]  0.996940      0.994492  478.864000  1.943418e+05
1           [x1, x2, x3]  0.995819      0.993728  478.864000  1.860354e+05
2       [x1, x2, x4, x5]  0.996445      0.993601  478.864000  1.903318e+05
3   [x1, x2, x3, x4, x5]  0.996944      0.993123  478.864000  3.511461e+05
4           [x1, x2, x5]  0.995058      0.992587  478.864000  2.107821e+05
5       [x1, x2, x3, x5]  0.995823      0.992481  478.864000  4.001724e+05
6           [x1, x2, x4]  0.994937      0.992405  478.864000  2.455793e+05
7               [x1, x2]  0.993496      0.991637  478.864000  2.361517e+05
8               [x1, x3]  0.987662      0.984137  478.864000  4.816967e+05
9           [x1, x3, x5]  0.988555      0.982833  478.864000  5.725488e+05
10          [x1, x3, x4]  0.988354      0.982531  478.864000  4.962199e+05
11                  [x1]  0.983568      0.981514  478.864000  4.948601e+05
12              [x1, x5]  0.984850      0.980521  478.864000  4.956576e+05
13      [x1, x3, x4, x5]  0.989123      0.980421  478.864000  6.112099e+05
14              [x1, x4]  0.984568      0.980159  478.864000  5.702201e+05
15          [x1, x4, x5]  0.985803      0.978705  478.864000  5.644050e+05
16              [x2, x4]  0.944151      0.928195  101.631420  2.312914e+06
17          [x2, x3, x4]  0.950752      0.926128  101.631420  2.752796e+06
18          [x2, x4, x5]  0.949690      0.924535  101.631420  3.003102e+06
19              [x2, x3]  0.936360      0.918177  101.631420  1.955205e+06
20              [x2, x5]  0.936213      0.917988  101.631420  2.140890e+06
21                  [x2]  0.927028      0.917907  101.631420  1.954867e+06
22      [x2, x3, x4, x5]  0.950785      0.911413  101.631420  4.162887e+06
23          [x2, x3, x5]  0.936857      0.905286  101.631420  3.320441e+06
24              [x4, x5]  0.778019      0.714596    8.106422  9.005696e+06
25          [x3, x4, x5]  0.783915      0.675873   10.389189  1.009735e+07
26                  [x5]  0.710404      0.674205   19.624710  8.328492e+06
27              [x3, x5]  0.723748      0.644819   10.389189  8.840496e+06
28              [x3, x4]  0.706400      0.622515   10.389189  1.006263e+07
29                  [x3]  0.564962      0.510582   10.389189  1.184276e+07
30                  [x4]  0.503304      0.441217    8.106422  1.370705e+07

In [12]:
import pandas as pd
import statsmodels.api as sm
from itertools import combinations

# Create a toy dataset
data = {'x1': [1, 2, 3, 4], 'x2': [5, 6, 7, 8], 'x3': [9, 10, 11, 12], 'x4': [13,14,15,16], 'x5':[17,18,19,20], 'y': [20, 30, 40, 50]}
df = pd.DataFrame(data)

# Get all combinations of independent variables
variables = list(df.columns[:-1])
combos = []
for i in range(1, len(variables)+1):
    combos += list(combinations(variables, i))

# Run ANOVA for each combination of variables
for combo in combos:
    formula = 'y ~ ' + ' + '.join(combo)
    model = sm.formula.ols(formula, data=df).fit()
    anova_table = sm.stats.anova_lm(model, typ=2)
    print('Variables:', combo)
    print(anova_table)
    print('\n')

C:\Users\Hpcc\anaconda3\lib\site-packages\statsmodels\base\model.py:1871: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 1, but rank is 0
  warnings.warn('covariance of constraints does not have full '
C:\Users\Hpcc\anaconda3\lib\site-packages\statsmodels\base\model.py:1900: RuntimeWarning: invalid value encountered in true_divide
  F /= J

Variables: ('x1',)
          sum_sq   df   F  PR(>F)
x1           NaN  1.0 NaN     NaN
Residual     0.0  2.0 NaN     NaN


Variables: ('x2',)
                sum_sq   df             F        PR(>F)
x2        5.000000e+02  1.0  1.237940e+30  8.077936e-31
Residual  8.077936e-28  2.0           NaN           NaN


Variables: ('x3',)
                sum_sq   df             F        PR(>F)
x3        5.000000e+02  1.0  3.094850e+29  3.231174e-30
Residual  3.231174e-27  2.0           NaN           NaN


Variables: ('x4',)
                sum_sq   df             F        PR(>F)
x4        5.000000e+02  1.0  3.438722e+28  2.908057e-29
Residual  2.908057e-26  2.0           NaN           NaN


Variables: ('x5',)
                sum_sq   df             F        PR(>F)
x5        5.000000e+02  1.0  3.438722e+28  2.908057e-29
Residual  2.908057e-26  2.0           NaN           NaN


Variables: ('x1', 'x2')
                sum_sq   df             F        PR(>F)
x1        1.128171e+02  1.0  4.469145e+29  2.237564e-30
x2        1.237624e+02  1.0  4.902733e+29  2.039679e-30
Residual  5.048710e-28  2.0           NaN           NaN


Variables: ('x1', 'x3')
                sum_sq   df             F        PR(>F)
x1        2.223819e+02  1.0  3.523782e+31  2.837860e-32
x3        9.183673e+01  1.0  1.455211e+31  6.871855e-32
Residual  1.262177e-29  2.0           NaN           NaN


Variables: ('x1', 'x4')
                sum_sq   df             F        PR(>F)
x1        2.871125e+02  1.0  1.568786e+29  6.374356e-30
x4        8.276200e+01  1.0  4.522125e+28  2.211350e-29
Residual  3.660315e-27  2.0           NaN           NaN


Variables: ('x1', 'x5')
                sum_sq   df             F        PR(>F)
x1        3.280338e+02  1.0  4.331585e+30  2.308624e-31
x5        7.848995e+01  1.0  1.036436e+30  9.648451e-31
Residual  1.514613e-28  2.0           NaN           NaN


Variables: ('x2', 'x3')
                sum_sq   df             F        PR(>F)
x2        2.249866e+02  1.0  6.505575e+28  1.537143e-29
x3        9.379845e+01  1.0  2.712219e+28  3.687019e-29
Residual  6.916732e-27  2.0           NaN           NaN


Variables: ('x2', 'x4')
                sum_sq   df             F        PR(>F)
x2        2.876389e+02  1.0  2.191260e+29  4.563585e-30
x4        9.865722e+01  1.0  7.515798e+28  1.330531e-29
Residual  2.625329e-27  2.0           NaN           NaN


Variables: ('x2', 'x5')
                sum_sq   df             F        PR(>F)
x2        3.282073e+02  1.0  2.280988e+29  4.384065e-30
x5        1.002619e+02  1.0  6.968041e+28  1.435124e-29
Residual  2.877765e-27  2.0           NaN           NaN


Variables: ('x3', 'x4')
                sum_sq   df             F        PR(>F)
x3        2.892031e+02  1.0  4.475201e+28  2.234537e-29
x4        2.142857e+02  1.0  3.315911e+28  3.015763e-29
Residual  1.292470e-26  2.0           NaN           NaN


Variables: ('x3', 'x5')
                sum_sq   df             F        PR(>F)
x3        3.285535e+02  1.0  6.257377e+28  1.598114e-29
x5        2.170326e+02  1.0  4.133436e+28  2.419295e-29
Residual  1.050132e-26  2.0           NaN           NaN


Variables: ('x4', 'x5')
                sum_sq   df             F        PR(>F)
x4        3.295837e+02  1.0  7.846247e+27  1.274495e-28
x5        2.828082e+02  1.0  6.732684e+27  1.485292e-28
Residual  8.401053e-26  2.0           NaN           NaN


Variables: ('x1', 'x2', 'x3')
                sum_sq   df             F        PR(>F)
x1        1.904248e+02  1.0  1.676334e+29  5.965399e-30
x2        5.000000e+02  1.0  4.401565e+29  2.271919e-30
x3        2.040816e+00  1.0  1.796557e+27  5.566203e-28
Residual  2.271919e-27  2.0           NaN           NaN


Variables: ('x1', 'x2', 'x4')
                sum_sq   df             F        PR(>F)
x1        2.581592e+02  1.0  1.794165e+29  5.573624e-30
x2        3.770599e+02  1.0  2.620506e+29  3.816058e-30
x4        8.568191e+00  1.0  5.954755e+27  1.679330e-28
Residual  2.877765e-27  2.0           NaN           NaN


Variables: ('x1', 'x2', 'x5')
                sum_sq   df             F        PR(>F)
x1        3.053020e+02  1.0  9.303275e+29  1.074890e-30
x2        3.765209e+02  1.0  1.147349e+30  8.715747e-31
x5        1.230486e+01  1.0  3.749583e+28  2.666963e-29
Residual  6.563323e-28  2.0           NaN           NaN


Variables: ('x1', 'x3', 'x4')
                sum_sq   df             F        PR(>F)
x1        2.642829e+02  1.0  6.413061e+28  1.559318e-29
x3        9.114212e+02  1.0  2.211645e+29  4.521520e-30
x4        2.098489e+01  1.0  5.092173e+27  1.963798e-28
Residual  8.242019e-27  2.0           NaN           NaN


Variables: ('x1', 'x3', 'x5')
                sum_sq   df             F        PR(>F)
x1        3.023320e+02  1.0  3.193762e+29  3.131104e-30
x3        5.000000e+02  1.0  5.281878e+29  1.893266e-30
x5        4.798410e+01  1.0  5.068923e+28  1.972806e-29
Residual  1.893266e-27  2.0           NaN           NaN


Variables: ('x1', 'x4', 'x5')
                sum_sq   df             F        PR(>F)
x1        3.121990e+02  1.0  5.099991e+29  1.960788e-30
x4        1.265796e+03  1.0  2.067766e+30  4.836136e-31
x5        3.678474e+01  1.0  6.009046e+28  1.664158e-29
Residual  1.224312e-27  2.0           NaN           NaN


Variables: ('x2', 'x3', 'x4')
                sum_sq   df             F        PR(>F)
x2        2.688229e+02  1.0  8.006897e+28  1.248923e-29
x3        5.000000e+02  1.0  1.489251e+29  6.714784e-30
x4        1.472987e+02  1.0  4.387294e+28  2.279309e-29
Residual  6.714784e-27  2.0           NaN           NaN


Variables: ('x2', 'x3', 'x5')
                sum_sq   df             F        PR(>F)
x2        3.095967e+02  1.0  3.202190e+28  3.122862e-29
x3        3.921381e+02  1.0  4.055924e+28  2.465529e-29
x5        1.567125e+02  1.0  1.620893e+28  6.169439e-29
Residual  1.933656e-26  2.0           NaN           NaN


Variables: ('x2', 'x4', 'x5')
                sum_sq   df             F        PR(>F)
x2        3.134655e+02  1.0  2.388009e+29  4.187589e-30
x4        1.246812e+03  1.0  9.498332e+29  1.052816e-30
x5        1.682664e+02  1.0  1.281869e+29  7.801110e-30
Residual  2.625329e-27  2.0           NaN           NaN


Variables: ('x3', 'x4', 'x5')
                sum_sq   df             F        PR(>F)
x3        3.163564e+02  1.0  9.551958e+27  1.046906e-28
x4        5.000000e+02  1.0  1.509683e+28  6.623907e-29
x5        2.442799e+02  1.0  7.375706e+27  1.355803e-28
Residual  6.623907e-26  2.0           NaN           NaN


Variables: ('x1', 'x2', 'x3', 'x4')
                sum_sq   df             F        PR(>F)
x1        2.465129e+02  1.0  3.906153e+31  2.560064e-32
x2        3.285535e+02  1.0  5.206138e+31  1.920810e-32
x3        3.375502e+03  1.0  5.348696e+32  1.869614e-33
x4        4.798410e+01  1.0  7.603384e+30  1.315204e-31
Residual  1.262177e-29  2.0           NaN           NaN


Variables: ('x1', 'x2', 'x3', 'x5')
                sum_sq   df             F        PR(>F)
x1        2.865078e+02  1.0  9.458118e+29  1.057293e-30
x2        3.478951e+02  1.0  1.148462e+30  8.707297e-31
x3        6.439458e+02  1.0  2.125777e+30  4.704163e-31
x5        6.693082e+01  1.0  2.209502e+29  4.525906e-30
Residual  6.058452e-28  2.0           NaN           NaN


Variables: ('x1', 'x2', 'x4', 'x5')
                sum_sq   df             F        PR(>F)
x1        2.984929e+02  1.0  2.733993e+29  3.657653e-30
x2        3.432586e+02  1.0  3.144017e+29  3.180644e-30
x4        3.253388e+03  1.0  2.979883e+30  3.355836e-31
x5        6.220028e+01  1.0  5.697126e+28  1.755271e-29
Residual  2.183567e-27  2.0           NaN           NaN


Variables: ('x1', 'x3', 'x4', 'x5')
                sum_sq   df             F        PR(>F)
x1        2.971806e+02  1.0  2.354508e+30  4.247172e-31
x3        4.276916e+02  1.0  3.388522e+30  2.951139e-31
x4        5.357143e+03  1.0  4.244366e+31  2.356065e-32
x5        1.020865e+02  1.0  8.088124e+29  1.236381e-30
Residual  2.524355e-28  2.0           NaN           NaN


Variables: ('x2', 'x3', 'x4', 'x5')
                sum_sq   df             F        PR(>F)
x2        3.023320e+02  1.0  2.334621e+28  4.283350e-29
x3        3.563990e+02  1.0  2.752129e+28  3.633551e-29
x4        9.183673e+01  1.0  7.091672e+27  1.410105e-28
x5        1.871880e+02  1.0  1.445474e+28  6.918146e-29
Residual  2.589988e-26  2.0           NaN           NaN


Variables: ('x1', 'x2', 'x3', 'x4', 'x5')
                sum_sq   df             F        PR(>F)
x1        2.863712e+02  1.0  7.562889e+30  1.322246e-31
x2        3.279294e+02  1.0  8.660416e+30  1.154679e-31
x3        5.000000e+02  1.0  1.320469e+31  7.573065e-32
x4        7.600827e+01  1.0  2.007332e+30  4.981737e-31
x5        1.024956e+02  1.0  2.706847e+30  3.694336e-31
Residual  7.573065e-29  2.0           NaN           NaN

Each ANOVA table displays the sum of squares, degrees of freedom, F statistic, and p-value for each independent variable and the residual.

The first ANOVA table displays results for only one independent variable 'x1'. The sum of squares is missing for this variable, which suggests that this variable is not contributing to the model. The second, third, fourth, and fifth ANOVA tables display results for independent variables 'x2', 'x3', 'x4', and 'x5' respectively. In each case, the sum of squares is non-zero, suggesting that each variable is contributing to the model.

The next six ANOVA tables display results for two independent variables. For example, the sixth ANOVA table displays results for independent variables 'x1' and 'x2'. The sum of squares is non-zero for both variables, suggesting that both variables are contributing to the model. The final ANOVA table displays results for all five independent variables. The sum of squares is non-zero for all variables, suggesting that all variables are contributing to the model.

The F statistic is used to determine whether the independent variable(s) have a statistically significant effect on the dependent variable. In general, a larger F statistic and a smaller p-value (i.e., a p-value less than the significance level, often 0.05) indicate a stronger relationship between the independent variable(s) and the dependent variable.

It's difficult to say which variable combination is most significant based only on the ANOVA table. However, we can look at the p-values in the table to get an idea of which variables are more significant than others.

A low p-value indicates that a variable or combination of variables has a significant effect on the dependent variable. From the ANOVA table, we can see that the p-values for all of the individual variables (x1, x2, x3, x4, and x5) are less than 0.05, indicating that they are all significant.

Among the combinations, the ones with the lowest p-values are ('x1', 'x3'), ('x2', 'x5'), and ('x2', 'x4'), all of which have p-values less than 0.000001. However, we should note that the p-values depend on the significance level we choose, and different levels may lead to different conclusions. Additionally, the significance of the variable combinations may also depend on the specific context and goals of the analysis.